In [1]:
import pandas as pd

In [2]:
#read crew.csv
df_crew = pd.read_csv('crew.csv')
print(df_crew.shape)
df_crew.head()

(1773404, 6)

,movie_id,crew_id,name,department,job,character
0,400531,1629818,María Caballé,Acting,Actor,NaN
1,400531,1629819,José López Alonso,Acting,Actor,Don Casto Tordesillas
2,400531,1629820,Ramón Álvarez Escudero,Acting,Actor,Ramón
3,400531,1629821,Felisa López,Acting,Actor,NaN
4,400531,1629822,Rosita Rodrigo,Acting,Actor,NaN

In [3]:
len(df_crew.crew_id.unique())

687841

In [4]:
len(df_crew.name.unique())

658864

In [5]:
#Read movie.csv
df_movie = pd.read_csv('movie.csv')
print(df_movie.shape)
df_movie.head()

(159532, 19)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,imdb_rating,imdb_votecount,title,imdb_id,tmdb_id,revenue,budget,product_country,tmdb_rating,tmdb_votecount
0,tt0016906,movie,Frivolinas,Frivolinas,0,2014,0,80,"Comedy,Musical",5.6,15.0,Frivolinas,tt0016906,400531.0,0.0,0.0,ES,0.0,0.0
1,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,0,118,"Comedy,Fantasy,Romance",6.4,78160.0,Kate & Leopold,tt0035423,11232.0,76019048.0,48000000.0,US,6.2,922.0
2,tt0062336,movie,El Tango del Viudo y Su Espejo Deformante,El Tango del Viudo y Su Espejo Deformante,0,2020,0,70,Drama,6.7,76.0,The Tango of the Widower and Its Distorting Mi...,tt0062336,602986.0,0.0,0.0,CL,4.0,1.0
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,0,122,Drama,6.8,5995.0,The Other Side of the Wind,tt0069049,299782.0,0.0,12000000.0,"FR,IR,US",6.8,106.0
4,tt0072306,movie,Toula ou Le génie des eaux,Toula ou Le génie des eaux,0,2017,0,90,Drama,7.0,25.0,"Toula, or the Genie of the Water",tt0072306,339338.0,0.0,0.0,"NE,DE",0.0,0.0

In [6]:
#Filter movie
#df_movie with >10000 [imdb_votecount] & production_country contains US 

df_movie_f1 = df_movie.loc[(df_movie['imdb_votecount'] > 10000) & (df_movie['product_country'].str.contains('US'))]

#reset index
df_movie_f1.reset_index(drop=True,inplace=True)
print(df_movie_f1.shape)
df_movie_f1

(3581, 19)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,imdb_rating,imdb_votecount,title,imdb_id,tmdb_id,revenue,budget,product_country,tmdb_rating,tmdb_votecount
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,0,118,"Comedy,Fantasy,Romance",6.4,78160.0,Kate & Leopold,tt0035423,11232.0,76019048.0,48000000.0,US,6.2,922.0
1,tt0118589,movie,Glitter,Glitter,0,2001,0,104,"Drama,Music,Romance",2.3,21348.0,Glitter,tt0118589,10696.0,5271666.0,22000000.0,US,4.4,93.0
2,tt0120667,movie,Fantastic Four,Fantastic Four,0,2005,0,106,"Action,Adventure,Fantasy",5.7,308989.0,Fantastic Four,tt0120667,9738.0,333535934.0,100000000.0,"DE,US",5.7,7004.0
3,tt0120679,movie,Frida,Frida,0,2002,0,123,"Biography,Drama,Romance",7.4,80185.0,Frida,tt0120679,1360.0,56298474.0,12000000.0,"CA,MX,US",7.5,1430.0
4,tt0120737,movie,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,0,2001,0,178,"Action,Adventure,Drama",8.8,1629973.0,The Lord of the Rings: The Fellowship of the Ring,tt0120737,120.0,871368364.0,93000000.0,"NZ,US",8.3,17958.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3576,tt9686708,movie,The King of Staten Island,The King of Staten Island,0,2020,0,136,"Comedy,Drama",7.1,25692.0,The King of Staten Island,tt9686708,579583.0,0.0,0.0,US,6.8,191.0
3577,tt9777644,movie,Da 5 Bloods,Da 5 Bloods,0,2020,0,154,"Adventure,Drama,War",6.5,32483.0,Da 5 Bloods,tt9777644,581859.0,0.0,45000000.0,"US,VN",6.7,456.0
3578,tt9784456,movie,The Kissing Booth 2,The Kissing Booth 2,0,2020,0,134,"Comedy,Romance",5.9,17255.0,The Kissing Booth 2,tt9784456,583083.0,0.0,0.0,"GB,US",8.0,3603.0
3579,tt9860728,movie,Falling Inn Love,Falling Inn Love,0,2019,0,98,"Comedy,Romance",5.6,14560.0,Falling Inn Love,tt9860728,623195.0,0.0,0.0,US,6.6,762.0
3580,tt9898858,movie,Coffee & Kareem,Coffee & Kareem,0,2020,0,88,"Action,Comedy",5.1,10939.0,Coffee & Kareem,tt9898858,615177.0,0.0,0.0,US,5.7,222.0

In [7]:
#create mov_list from df_movie_f1 column ['tmdb_id']
mov_list = df_movie_f1['tmdb_id'].tolist()

In [8]:
#Filter crew data that is in mov_list only
df_crew_f1 = df_crew.loc[df_crew['movie_id'].isin(mov_list)]

#reset index
df_crew_f1.reset_index(drop=True,inplace=True)

In [9]:
#display unique job in df
df_crew_f1.job.unique()

array(['Actor', 'Casting', 'Screenplay', 'Director', 'Producer',
       'Executive Producer', 'Production Design', 'Set Decoration',
       'Art Direction', 'Editor', 'Director of Photography',
       'Costume Design', 'Original Music Composer', 'Story',
       'Co-Producer', 'Art Department Coordinator', 'Script Supervisor',
       'Costume Supervisor', 'Makeup Department Head', 'Hairstylist',
       'Makeup Artist', 'Set Costumer', 'Executive Music Producer',
       'Music Editor', 'Sound Effects Editor', 'Supervising ADR Editor',
       'Sound Re-Recording Mixer', 'Supervising Sound Editor',
       'Music Supervisor', 'Dialogue Editor', 'Sound Mixer',
       'Still Photographer', 'Sound Recordist', 'Production Sound Mixer',
       'Supervising Art Director', 'Comic Book', 'Writer', 'Color Timer',
       'Additional Editing', 'Special Effects Coordinator',
       'Digital Effects Producer', 'Second Unit Director',
       'Additional Visual Effects', 'Stunt Double', 'ADR Recordist',
       'Foley Supervisor', 'ADR Mixer', 'Second Assistant Camera',
       'Visual Effects Editor', 'ADR Voice Casting',
       'Post-Production Manager', 'Stunt Driver', 'Conductor',
       'Post Production Assistant', 'Dialect Coach',
       'Unit Production Manager', 'Rigging Grip', 'Stunts',
       'Sound Designer', 'Visual Effects Supervisor', 'Key Hair Stylist',
       'Pilot', 'Sculptor', 'Camera Operator', 'Key Costumer',
       'Assistant Location Manager', 'Foley Artist', 'Set Designer',
       'Lead Painter', 'Construction Coordinator', 'Carpenter',
       'Second Assistant Sound', 'Chef', 'Digital Effects Supervisor',
       'ADR Supervisor', 'Camera Technician', 'Location Manager',
       'Scenic Artist', 'Transportation Captain', 'Wigmaker',
       'First Assistant Editor', 'Digital Intermediate Editor',
       'Conceptual Design', 'Additional Camera', 'Steadicam Operator',
       'First Assistant "A" Camera', 'Digital Producer', 'Head Greensman',
       'Animatronics Supervisor', 'Additional Sound Re-Recording Mixer',
       'CG Supervisor', 'Rigging Gaffer', 'Unit Publicist',
       'Production Illustrator', 'Stunt Coordinator',
       'Assistant Art Director', 'Matte Painter',
       'Transportation Coordinator', 'Associate Producer', 'ADR Engineer',
       'Visual Effects Producer', 'Truck Costumer', 'Concept Artist',
       'First Assistant Sound Editor', 'Property Master',
       'Supervising Animator', 'Special Effects Supervisor',
       'Casting Assistant', 'First Assistant Director', 'Sequence Leads',
       'Aerial Director of Photography', 'Scoring Mixer',
       'Set Decoration Buyer', 'Stand In', 'Assistant Costume Designer',
       'Music Coordinator', 'Gaffer', 'Production Manager',
       'Assistant Editor', 'Painter', 'Unit Manager', 'Best Boy Electric',
       'Conceptual Illustrator', 'Driver', 'Casting Associate',
       'Post Production Supervisor', 'Foley Mixer', 'Boom Operator',
       'Sound Assistant', 'Costumer', 'Compositing Supervisor',
       'Production Accountant', 'Production Supervisor',
       'Effects Supervisor', 'Travel Coordinator', 'Key Grip',
       'Costume Set Supervisor', 'I/O Supervisor', 'Visual Effects',
       'Production Coordinator', 'Systems Administrators & Support',
       'Storyboard Artist', 'Editorial Production Assistant',
       'Negative Cutter', 'Second Second Assistant Director',
       'Dolly Grip', 'First Assistant Camera', 'Extras Casting Assistant',
       'Digital Compositors', 'First Assistant Makeup Artist',
       'Utility Stunts', 'Lighting Artist', 'Art Department Assistant',
       'Line Producer', 'Grip', 'Set Dressing Artist', 'Craft Service',
       'Loader', 'Propmaker', 'Security', 'Software Engineer',
       'Video Assist Operator', 'Layout', 'Electrician',
       'Lighting Technician', 'Sound Editor',
       'Visual Effects Coordinator', 'Thanks', 'Animal Coordinator',
       'Compositing Artist', 'Best Boy Grip', 'Focus Puller',
       'Libra Head Technician', 'Special Effects Technician',
       'Camera Loader', 'CG Artist', 'Colorist',
       'Visual Effects Production Assistant',
       'First Assistant Accountant', 'Extras Casting',
       'Assistant Makeup Artist', 'On Set Props',
       'Location Production Assistant', 'Head of Production',
       'Key Production Assistant', 'Digital Intermediate Producer',
       'Construction Buyer', 'Third Assistant Director',
       'Graphic Designer', 'Location Assistant', 'Makeup Supervisor',
       'Production Assistant', 'Additional Third Assistant Director',
       'Assistant Property Master', 'Creative Director',
       'Paint Coordinator', 'Set Supervisor', 'Special Effects Assistant',
       'Special Effects Best Boy', 'Assistant Camera', 'Camera Trainee',
       'Senior Animator', 'Aerial Coordinator', 'Assistant Accountant',
       'Generator Operator', 'Production Driver', 'Production Executive',
       'Rigging Supervisor', 'Security Coordinator', 'Novel',
       'Prosthetic Makeup Artist', 'Supervising Editor',
       'Visual Effects Art Director', 'Second Assistant Director',
       'Assistant Dialogue Editor', '3D Supervisor', 'Set Dresser',
       'Makeup Designer', 'Visual Effects Designer',
       'Assistant Sound Editor', 'Animation Supervisor',
       'Key Makeup Artist', 'Art Department Manager', 'Hair Designer',
       'Art Department Production Assistant', 'Compositor', 'Prop Maker',
       'ADR Editor', 'Prosthetic Supervisor', 'Foley Editor',
       'Additional Music', 'Clapper Loader', 'Draughtsman',
       'Costume Assistant', 'Animatronic and Prosthetic Effects',
       'Post Production Coordinator', 'Technical Supervisor',
       'Makeup Effects', 'Dolby Consultant', 'Set Runner', 'Leadman',
       'Location Scout', 'Choreographer', 'Production Office Assistant',
       'Set Medic', 'Researcher', 'Playback Coordinator',
       'Animatronics Designer', 'Assistant Production Coordinator',
       'Swing', 'Animation', 'Dialogue Coach', 'Contact Lens Technician',
       'Additional Wardrobe Assistant', 'Dressing Prop',
       'Assistant Electrician', 'Music Consultant', 'Executive Assistant',
       'Production Runner', 'Production Secretary', 'Standby Rigger',
       'Second Unit Director of Photography', 'Special Effects',
       'Executive Visual Effects Producer',
       'Senior Visual Effects Supervisor', 'Orchestrator',
       'Assistant Chief Lighting Technician',
       'Second Unit First Assistant Director', 'Creature Design',
       'Digital Color Timer', 'Musician', 'Chief Lighting Technician',
       'Playback Singer', 'Sequence Supervisor', 'Greensman',
       'Title Designer', 'Wardrobe Supervisor', 'Assistant Hairstylist',
       'VFX Editor', 'Visual Effects Assistant Editor',
       'Hair Department Head', "Actor's Assistant",
       'First Assistant "B" Camera', 'Associate Editor', 'Lead Animator',
       'Supervising Dialogue Editor', 'Production Office Coordinator',
       'Apprentice Sound Editor', 'Standby Painter', 'Rotoscoping Artist',
       'CGI Supervisor', 'Script Coordinator', 'Administration',
       'Additional Photography', 'Set Production Assistant',
       'Transportation Co-Captain', 'Lighting Supervisor',
       'Visual Effects Production Manager', 'Utility Sound',
       'Camera Production Assistant', 'Construction Foreman',
       'Matchmove Supervisor', 'Modeling', 'Payroll Accountant',
       'CG Painter', 'Animal Wrangler', '24 Frame Playback',
       "Producer's Assistant", 'Compositing Lead',
       'Second Assistant Accountant', 'Data Wrangler', 'Project Manager',
       'Location Coordinator', 'Assistant Director', 'Animation Director',
       'Digital Compositor', 'Creature Technical Director',
       'Visual Effects Technical Director', 'VFX Artist',
       'Additional Director of Photography', 'Co-Executive Producer',
       'Music', 'Assistant Unit Manager',
       'Executive In Charge Of Post Production',
       'Assistant Production Manager', 'Assistant Director Trainee',
       'Author', 'Wardrobe Master', 'Second Assistant "B" Camera',
       'Executive Consultant', 'Executive In Charge Of Production',
       'Digital Colorist', 'Helicopter Camera', 'Seamstress',
       'Fight Choreographer', 'Characters', 'Story Editor',
       'Digital Supervisor', 'Character Designer', 'Additional Key Grip',
       'Set Buyer', 'Additional Casting', 'Key Construction Grip',
       'Art Designer', 'General Manager', 'Ager/Dyer',
       'Technical Advisor', 'Additional Second Assistant Camera',
       'Accountant', 'Additional Production Assistant', 'Armorer',
       'Studio Teachers', 'Foley', 'Second Unit Cinematographer',
       'ADR & Dubbing', 'Local Casting', 'Supervising Armorer',
       'Visual Effects Compositor', 'Additional Script Supervisor',
       'Aerial Camera', 'Translator', '2D Supervisor', 'CG Animator',
       'Production Controller', 'Post Production Accountant', 'Publicist',
       'Legal Services', 'Screenstory', 'Adaptation',
       'Aerial Camera Technician', 'Underwater Camera',
       'VFX Production Coordinator', 'Set Decorating Coordinator',
       'Projection', 'Sound Design Assistant', 'Sound', 'Foley Recordist',
       'Additional Grip', 'Marine Coordinator', 'Mechanical Designer',
       'Supervising Music Editor', 'Songs', 'Music Arranger',
       'Additional Still Photographer', 'First Company Grip',
       'Costume Coordinator', 'Music Programmer', 'Sound Engineer',
       'Wardrobe Assistant', 'Second Company Grip', 'Key Dresser',
       'Key Rigging Grip', 'Receptionist', 'Sound Mix Technician',
       'Creator', 'Location Casting', 'Digital Intermediate Colorist',
       'Documentation & Support', 'Art Department Trainee',
       'Quality Control Supervisor', 'Digital Intermediate', 'Machinist',
       'Tailor', 'Pyrotechnician', 'Special Props',
       'Visual Effects Director', 'Makeup & Hair', '3D Director',
       'Additional Editor', 'Compositors', 'Special Sound Effects',
       'Underwater Director of Photography', 'Costume Illustrator',
       'Camera Intern', 'Picture Car Coordinator',
       'Key Set Production Assistant', 'Editorial Coordinator',
       'Textile Artist', 'Production Consultant', 'Storyboard',
       'Cableman', 'Production Intern', 'Title Graphics', 'Short Story',
       'Assistant Sound Designer', 'VFX Director of Photography',
       '3D Artist', '2D Artist', 'In Memory Of',
       'Pre-Visualization Supervisor', 'Costume Designer',
       'On Set Dresser', 'Additional First Assistant Camera', 'Presenter',
       'Set Dressing Supervisor', 'Motion Capture Artist', 'Set Painter',
       'Sound Effects Designer', '"B" Camera Operator',
       '"A" Camera Operator', 'Martial Arts Choreographer',
       'Co-Art Director', 'Sound mixer', 'Music Producer',
       'Key Scenic Artist', 'I/O Manager', 'Additional Dialogue',
       'Special Effects Makeup Artist', 'Construction Grip',
       'Script Researcher', 'Charge Scenic Artist', 'Lighting Design',
       'Book', 'Wardrobe Coordinator', 'Supervising Sound Effects Editor',
       'ADR Coordinator', 'Prosthetics', 'Construction Manager',
       'Hairdresser', 'Props', 'Online Editor', 'Hair Supervisor',
       'Floor Runner', 'Standby Art Director',
       'Second Assistant "A" Camera', 'Makeup & Hair Assistant',
       'Script Editor', 'Assistant Music Supervisor',
       'Makeup Effects Designer', 'Head Carpenter',
       'Assistant Set Decoration', 'Finance',
       'Additional Second Assistant Director',
       'First Assistant Art Direction', 'Pyrotechnic Supervisor',
       'Best Boy Electrician', 'Second Assistant Art Director',
       'Gun Wrangler', 'Key Set Costumer', 'Sound Supervisor',
       'Head Driver', 'Cinematography', 'Editorial Consultant',
       'Co-Editor', 'Additional Set Dresser', 'Editorial Services',
       'Intern', 'Military Consultant', 'Visual Effects Camera',
       'Supervising Carpenter', 'Key Set Painter',
       'First Assistant Property Master', 'Controller',
       'Public Relations', 'Chaperone', 'Production Trainee',
       'Assistant Sound Engineer', 'Telecine Colorist', '3D Animator',
       'Tattoo Designer', 'Lead Set Dresser', 'Wig Designer',
       'First Assistant Hairstylist', 'Hair Assistant',
       'Temp Music Editor', 'Animation Coordinator',
       'Digital Film Recording', 'Senior Modeller', 'Continuity',
       'Petty Cash Buyer', 'Set Dressing Manager', 'Scenario Writer',
       'Post Production Consulting', 'Assistant Chef',
       'Theme Song Performance', 'Development Manager', 'Dresser',
       'Assistant Grip', 'Original Story', 'Casting Director', 'Musical',
       'Lighting Programmer', 'Roto Supervisor',
       'Trainee Production Coordinator', 'Animation Manager',
       'Techno Crane Operator', 'Medical Consultant',
       'Assistant Decorator', 'Extras Casting Coordinator', 'Catering',
       'Locale Casting Director', 'Other',
       'Second Assistant Production Coordinator', 'Assistant Hairdresser',
       'Standby Carpenter', 'Camera Car', 'Additional Hairstylist',
       'Casting Consultant', 'Score Engineer', 'Set Dressing Buyer',
       'Creative Consultant', 'Storyboard Designer', 'Property Buyer',
       'Clearances Coordinator', 'Key Carpenter', 'Production Designer',
       'Steadycam',
       'Aerial Camera (suggest in addition to Helicopter Camera)',
       'Armory Coordinator', 'Assistant Script', 'Assistant Set Designer',
       'Assistant Craft Service', 'Sound Effects', '3D Modeller',
       'VFX Supervisor', 'Visual Development', 'Underwater Gaffer',
       'Mixing Engineer', 'Imaging Science', 'Music Director',
       'Theatre Play', 'Prosthetic Designer',
       'Additional Post-Production Supervisor', 'Dailies Technician',
       'Original Film Writer', 'Idea', 'Assistant Set Dresser',
       'Shop Electric', 'Decorator', 'Cast Driver', 'Vocals',
       'Manager of Operations', 'Attorney', 'Foley Recording Engineer',
       'Genetator Operator', 'Key Art Production Assistant',
       'Digital Imaging Technician', 'Visual Effects Design Consultant',
       'Production Director', 'Script', 'Stunts Coordinator',
       'Second Unit', 'Executive in Charge of Finance', 'Makeup Trainee',
       'Daily Wardrobe', 'Modelling Supervisor', 'Key Special Effects',
       'Main Title Designer', 'Assistant Extras Casting',
       'Pipeline Technical Director', 'Daily Grip',
       'First Assistant Production Coordinator',
       'Set Dressing Production Assistant', 'Assistant Foley Artist',
       'Dailies Operator', 'Logistics Coordinator', 'Prop Designer',
       'Casting Coordinator', 'Third Assistant Camera',
       'Creative Producer', 'Head of Research', 'Health and Safety',
       'Editorial Staff', 'First Assistant "C" Camera',
       'Music Score Producer', 'Wardrobe Intern', 'Prosthetics Painter',
       'Unit Medic', 'Camera Department Manager',
       'Sound Re-Recording Assistant', 'Crowd Assistant Director',
       'Digital Conform Editor', 'Pre-Visualization Coordinator',
       'Co-Costume Designer', 'Storyboard Assistant',
       'Scientific Consultant', 'Sequence Lead',
       'Assistant Production Design', 'Camera Truck',
       'Supervising Producer', '"C" Camera Operator',
       'Second Assistant "C" Camera', 'Weapons Master',
       'Set Production Intern', 'Key Accountant', 'Costume Mistress',
       'Digital Intermediate Assistant', 'Department Administrator',
       'Administrative Assistant', 'Script Consultant',
       'Base Camp Operator', 'Epk Producer', 'Additional Writing',
       'Extras Dresser', 'Principal Costumer', 'Director of Operations',
       'Action Director', 'Extras Makeup Artist', 'Software Team Lead',
       'Additional Colorist', 'Mix Technician', 'Keyboard Programmer',
       'Lighting Coordinator', 'Opening Title Sequence', 'Poem',
       'Senior Digital Intermediate Colorist', 'Schedule Coordinator',
       'Vocal Coach', 'Original Concept', 'Production Artist',
       '2D Sequence Supervisor', 'Animation Technical Director',
       'Color Designer', 'Supervising Technical Director',
       'Coordinating Producer', 'Studio Teacher', 'Contact Lens Painter',
       'Human Resources', 'Post Production Producer',
       'Location Sound Mixer', 'Assistant Picture Car Coordinator',
       'Color Grading', 'Animation Production Assistant',
       'Background Designer', 'Editorial Manager',
       'Animation Fix Coordinator', 'Special Effects Manager',
       'Audio Post Coordinator', '3D Tracking Layout',
       'Character Technical Supervisor', 'Character Modelling Supervisor',
       'Simulation & Effects Artist', 'Additional Editorial Assistant',
       'Additional Sound Re-Recordist', 'Layout Supervisor',
       'Truck Production Assistant', 'Police Consultant',
       'Temp Sound Editor', 'Archival Footage Coordinator',
       "Writers' Assistant", 'Background Casting Director',
       'Sign Painter', 'Additional Music Supervisor',
       'Archival Footage Research', 'Lyricist', 'Dialogue', 'Hair Setup',
       'Research Assistant', 'Generalist',
       'Additional Lighting Technician', 'Post Producer',
       '3D Coordinator', 'Prosthetics Sculptor', 'Costume Standby',
       'ADR Recording Engineer', 'Camera Department Production Assistant',
       'Shading', 'Graphic Novel', 'Key Hairdresser',
       'Special Guest Director', 'Graphic Novel Illustrator',
       'Epk Director', 'Epk Camera Operator', 'Additional Soundtrack',
       'Associate Choreographer', 'Second Assistant "D" Camera',
       'Tattooist', 'Consulting Producer', 'Insert Unit Director',
       'Head of Animation', 'Radio Play', 'Shoe Design',
       'First Assistant Picture Editor', 'Truck Supervisor',
       'Ultimate Arm Operator', 'Weapons Wrangler',
       'Digital Intermediate Data Wrangler',
       'Creature Effects Technical Director', 'Web Designer',
       'Facial Setup Artist', 'Russian Arm Operator', 'Drone Operator',
       'Loop Group Coordinator', 'Senior Colorist',
       'First Assistant "D" Camera', 'Director of Communications',
       'Stereoscopic Supervisor', '3D Generalist', 'Video Game',
       'Co-Director', 'Sound Director', 'Teleplay',
       'Vehicles Coordinator', 'Stereoscopic Editor',
       '3D Sequence Supervisor', 'Lead Character Designer',
       'Lead Creature Designer', 'Animation Department Coordinator',
       'Camera Supervisor', 'Head of Layout', '"D" Camera Operator',
       'treatment', 'Costume Consultant', 'Lead Editor',
       'Color Assistant', "Executive Producer's Assistant",
       'Lighting Director', '3D Editor', 'Co-Writer',
       'Special Effects Key Makeup Artist',
       'Wardrobe Specialized Technician', 'Red Technician',
       'Additional Gaffer', 'Data Management Technician',
       'Runner Art Department', 'VFX Lighting Artist', 'Drone Pilot',
       'Standby Property Master', 'Stereoscopic Coordinator',
       'Story Consultant', 'Property Builder', 'Dailies Manager',
       'Clearances Consultant', 'Contact Lens Designer',
       'Best Boy Lighting Technician', 'Third Assistant "B" Camera',
       'Third Assistant "C" Camera', 'Third Assistant "A" Camera',
       'Mechanical & Creature Designer', 'Film Processor',
       'Accounting Clerk Assistant', 'Contract Manager',
       'Stereoscopic Technical Director', 'Drone Cinematographer',
       'BTS Photographer', 'Senior Generalist',
       'Second Unit Location Manager', 'Photoscience Manager',
       'Phantom Operator', 'Executive Story Editor', 'Acting Double',
       'Assistant Gaffer', 'Sets & Props Supervisor', 'EPK Editor',
       'Second Film Editor', 'Recording Supervision', 'Motion Actor',
       'Music Co-Supervisor', 'Executive Co-Producer',
       'Senior Executive Consultant', 'Key Animation',
       'Music Sound Design and Processing', 'Consulting Editor',
       'Additional Production Sound Mixer', 'Dramaturgy',
       'Supervisor of Production Resources', 'Development Producer',

In [10]:
#filter crew with specific jobs
job_list = ['Actor', 'Director', 'Producer', 'Executive Producer']
df_crew_f2 = df_crew_f1.loc[(df_crew_f1['job'].isin(job_list))]

#reset index
df_crew_f2.reset_index(drop=True,inplace=True)

In [20]:
#Check unique name
print(len(df_crew_f2.name.unique()))
df_crew_f2.head()

72642

,movie_id,crew_id,name,department,job,character,actor,movie
0,11232,5344,Meg Ryan,Acting,Actor,Kate McKay,47677,975
1,11232,6968,Hugh Jackman,Acting,Actor,Leopold,27380,975
2,11232,23626,Liev Schreiber,Acting,Actor,Stuart Besser,42323,975
3,11232,33654,Breckin Meyer,Acting,Actor,Charlie McKay,8755,975
4,11232,10871,Natasha Lyonne,Acting,Actor,Darci,51416,975

In [12]:
#create ['actor'] column that encode ['name'] into index starting from 0
df_crew_f2['actor'] = df_crew_f2.name.astype('category').cat.codes

C:\Users\Win10\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
#Create ['movie'] column that encode ['movie_id'] into index starting from 0
df_crew_f2['movie'] = df_crew_f2.movie_id.astype('category').cat.codes

C:\Users\Win10\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
df_crew_f2

,movie_id,crew_id,name,department,job,character,actor,movie
0,11232,5344,Meg Ryan,Acting,Actor,Kate McKay,47677,975
1,11232,6968,Hugh Jackman,Acting,Actor,Leopold,27380,975
2,11232,23626,Liev Schreiber,Acting,Actor,Stuart Besser,42323,975
3,11232,33654,Breckin Meyer,Acting,Actor,Charlie McKay,8755,975
4,11232,10871,Natasha Lyonne,Acting,Actor,Darci,51416,975
...,...,...,...,...,...,...,...,...
150241,615177,71280,Michael Dowse,Directing,Director,NaN,48567,3569
150242,615177,1802876,Mike Falbo,Production,Producer,NaN,49836,3569
150243,615177,1927038,Don Foss,Production,Executive Producer,NaN,19187,3569
150244,615177,1927039,Jordon Foss,Production,Producer,NaN,35483,3569
150245,615177,1927042,Sanford Nelson,Production,Producer,NaN,61327,3569

In [30]:
#check len(actor) == len(name)
print('check len actor == name:',len(df_crew_f2['actor'].unique()) == len(df_crew_f2['name'].unique()))
print('len actor =:', len(df_crew_f2['actor'].unique()))
print()
#check len(movie) == len(movie_id)
print('check len movie == movie_id:',len(df_crew_f2['movie'].unique()) == len(df_crew_f2['movie_id'].unique()))
print('len movie =:', len(df_crew_f2['movie'].unique()))

check len actor == name: True
len actor =: 72642

check len movie == movie_id: True
len movie =: 3581

In [32]:
#check crew actor index
df_crew_f2.loc[df_crew_f2['actor'] == 72641]

,movie_id,crew_id,name,department,job,character,actor,movie
82567,71677,62506,Șerban Celea,Acting,Actor,Wilson Herrod,72641,1977

In [41]:
df_crew_merged = pd.merge(df_crew_f2, df_movie_f1[['tmdb_id','title']], left_on='movie_id', right_on='tmdb_id', how = 'left')

In [45]:
print('no. of movie in df: ',len((df_crew_merged.title.unique())))
df_crew_merged.head()

no. of movie in df:  3564

,movie_id,crew_id,name,department,job,character,actor,movie,tmdb_id,title
0,11232,5344,Meg Ryan,Acting,Actor,Kate McKay,47677,975,11232.0,Kate & Leopold
1,11232,6968,Hugh Jackman,Acting,Actor,Leopold,27380,975,11232.0,Kate & Leopold
2,11232,23626,Liev Schreiber,Acting,Actor,Stuart Besser,42323,975,11232.0,Kate & Leopold
3,11232,33654,Breckin Meyer,Acting,Actor,Charlie McKay,8755,975,11232.0,Kate & Leopold
4,11232,10871,Natasha Lyonne,Acting,Actor,Darci,51416,975,11232.0,Kate & Leopold

In [ ]:
#Sort df and create array to create sparse matrix

df_crew_merged